{% extends "bootstrap/base.html" %}
{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
{% endblock %}
{% block title %}
    {% if title %}
        {{title}} | Flask App
    {% else %}
        Flask App
    {% endif %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}